container {
		width: 70%;
		margin: auto;
		text-align: center;
	}

	.dice {
		text-align: center;
		display: inline-block;
		margin: 10px;
		cursor:pointer;
	}

	body {
		background-color: #042f4b;
		margin: 0;
		overflow: hidden;
	}

	.game-title {
		margin: 10px;
		font-family: "Lobster", cursive;
		text-shadow: 5px 0 #232931;
		font-size: 22px;
		color: #4ecca3;
		text-align: center;
	}

	p {
		font-size: 14px;
		font-family: "Indie Flower", cursive;
	}

	.bottom {
		padding-top: 30px;
	}

	.butn {
		background: #4ecca3;
		font-family: "Indie Flower", cursive;
		border-radius: 7px;
		color: #ffff;
		font-size: 20px;
		padding: 6px 12px;
		text-decoration: none;
	}

	.butn:hover {
		background: #232931;
		text-decoration: none;
	}
	.reg-container .reg-level1
	{
		width: 350px;
	}
	.reg-container
	{
		width: 100%;
		text-align: center;
		display: inline-block;
		margin: 10px;
	}
	.img-temper
	{
		position: absolute;width: 35px;top: 80px;left: 625px;
	}